@import 'https://fonts.googleapis.com/css?family=Raleway:900,800,700,600,400,300,200,100';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:700,600,400';
@import 'https://fonts.googleapis.com/css?family=Lora:400,700|Roboto+Slab:400,700&display=swap';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  /* Fit to Screen */
  max-width: 100vw;
  width: 100%;

  margin: 0 0;
  padding: 0 0;

  overflow-x: hidden;

  /*for smooth scrolling, when redirected to different parts of the page via ie: a button*/
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  width: 100%;

  margin: 0 0;
  padding: 0 0;

  overflow-x: hidden;
  // overflow-y:scroll;

  font-family: Josefin Sans;
}

body::-webkit-scrollbar {
  /* Invisible Scrollbar */
  display: none;
}

.unselectable {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  -o-user-select: none;
  user-select: none;
}

.section-container {
  max-width: 1320px;
}

.no-scroll {
  overflow: hidden;
}
