@mixin generic-font-preset {
  .text-xl {
    font-size: 60px;
  }

  .text-l {
    font-size: 40px;
  }

  @media (max-width: 1499px) {
    .text-xl {
      font-size: 50px;
    }

    .text-l {
      font-size: 30px;
    }
  }

  @media (max-width: 599px) {
    .text-xl {
      font-size: 35px;
    }

    .text-l {
      font-size: 24px;
    }
  }

  @media (max-width: 349px) {
    .text-xl {
      font-size: 25px;
    }

    .text-l {
      font-size: 20px;
    }
  }
}
