@mixin generic-font-preset {
  .text-xl {
    font-size: 60px;
  }

  @media (max-width: 1499px) {
    .text-xl {
      font-size: 50px;
    }
  }

  @media (max-width: 599px) {
    .text-xl {
      font-size: 35px;
    }
  }

  @media (max-width: 299px) {
    .text-xl {
      font-size: 25px;
    }
  }
}
