@mixin fade-transition-preset {
  .fade-enter-active {
    transition: all 0.3s ease-in-out;
  }

  .fade-leave-active {
    transition: all 0.3s ease-in-out;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
}
